<div class="row">
	<div class="col-md-7">
		<div class="page-header">
			<h2>Add Student</h2>
		</div>
		<%= render 'form' %>
	</div>
	<div class="col-md-5">
		
	</div>
</div>


<%= link_to 'Back', students_path %>
